<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../vue/css/index.css">
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>TODO LIST VUE</h1>
        <div class="insertItem">
            <input v-model="description" type="text" />
            <input v-on:click="insertItem" type="button" value="OK" />
        </div>
        <div class="itemsList">
            <ul>
                <li v-for="(item, index) in items">
                    <input v-on:click="removeItem(index)" type="button" value="x" /> {{item}} &nbsp;
                </li>
            </ul>
        </div>
    </div>

    <!--Scripts-->
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>